@using System.Web.Optimization
@model BLL.Models.Auth.Requests.LoginRequest

@{
    ViewData["Title"] = "Login";
}

@section Style
{
    <link rel="stylesheet" href="~/css/input_form.css" asp-append-version="true"/>
}

@using (Html.BeginForm("Login", "Auth", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-container">
            <label class="input-label" for="InputValue">Email:</label>
        @Html.ValidationMessageFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "input-field" })
        <label class="input-label" for="InputValue">Password:</label>
        @Html.ValidationMessageFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password, new { @class = "input-field" })

        <button type="submit" class="submit-button">Submit</button>
    </div>
}